<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ABC -->
      <package
            uri="platform:/resource/ABC/model/ABC.ecore"
            class="ABC.ABCPackage"
            genModel="model/ABC.genmodel"/>
   </extension>

</plugin>
