<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated zoo -->
      <package
            uri="platform:/resource/Zoo/model/zoo.ecore"
            class="zoo.ZooPackage"
            genModel="model/zoo.genmodel"/>
   </extension>

</plugin>
